<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
     <tr>
       <td></td>
       <td><%= group.name %></td>
       <td><%= group.introduction %></td>
       <td>
         <% if group.owner_id = current_user.id %>
         <%= link_to 'Edit', group %>
         <% end %>
         </td>
     </tr>
    <% end %>
  </tbody>
  </table>